html, body {
    min-height: 100%;
    height: auto;
    font-family: "Architects Daughter", sans-serif;
}

div.react-container {
    position: relative;
}

a {
    color: navy;
    font-family: 'Lato', arial;
}

.active {
    color: salmon;
}

